html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    max-width: 100%;
   
    overflow-x: hidden;
    background-color: darkorange;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes delayedFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes delayedFade2 {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes grow {
    from {
        opacity: 0;
        transform: scale(2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floating {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(1%, 3%);
    }
    50% {
        transform: translate(2%, 1%);
    }
    75% {
        transform: translate(0%, 3%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
@keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    } 
}
@keyframes fadeInFromBotton {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FONTS */
@font-face { font-family: 'Montserrat'; src: url('font/Montserrat-SemiBold.ttf'); }
@font-face { font-family: 'Hammersmith'; src: url('font/HammersmithOne-Regular.ttf'); }
@font-face { font-family: 'Oxygen'; src: url('font/Oxygen-Regular.ttf'); }
h1 {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 400%;
    text-align: center;
    line-height: 80px;
    padding-top: 3%;
    animation-name: delayedFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    cursor: default;
}
h2 {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 400%;
    text-align: right;
    padding-left: 15%;
    padding-right: 15%;
}
p.a {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 170%;
    text-align: left;
    padding-left: 18%;
    padding-right: 18%;
    cursor: default;
}
p.b {
    color: rgb(32, 28, 28);
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 120%;
    text-align: left;
    padding-left: 18%;
    padding-right: 18%;
    cursor: default;
}
p.c {
    font-family: Hammersmith, Helvetica, sans-serif;
    text-align: center;
    font-size: 120%;
    color: white;
    cursor: default;
}
p.d {
    color: rgb(243, 82, 189);
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 120%;
    text-align: left;
    padding-left: 18%;
    padding-right: 18%;
    cursor: default;
}
p.e {
    color: rgb(111, 109, 226);
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 110%;
    text-align: left;
    padding-left: 18%;
    padding-right: 18%;
    cursor: default;
}
p.rrsub {
    color: rgb(255, 138, 167);
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 110%;
    text-align: right;
    padding-left: 18%;
    padding-right: 18%;
    cursor: default; 
}
p.rrdes {
    color: rgb(104, 157, 255);
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 110%;
    text-align: left;
    padding-left: 18%;
    padding-right: 18%;
    cursor: default;
}
a {
    font-family: Hammersmith, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}
/* IMAGES */
img {
    width: 100%;
    height: 100%;
}
.left {
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: 15%;
}
.center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.fadeImage {
    -webkit-animation: fadeIn 1s; 
    -moz-animation: fadeIn 1s; 
        -ms-animation: fadeIn 1s; 
        -o-animation: fadeIn 1s; 
            animation: fadeIn 1s;
    margin: 25px auto;
}
/* BUTTONS */

.buttonHome {
    font-family: Montserrat, Helvetica, sans-serif;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    position: fixed;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 3em;
    margin-top: 2em;
    transition: all .4s;
}

.buttonHome:hover {
    background-color: rgb(255, 96, 5);
}
.buttonUnderline {
    background-color: transparent;
    outline: none;
    height: 6.3rem;
    border: none;
    color: white;
    padding: 0px 0px;
    padding-top: 3%;
    text-align: center;
    font-size: 90%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 0.6%;
    margin-right: 0.6%;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    animation: fadeInFromTop ease 1s forwards;
}
.buttonUnderline:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: orange;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.buttonUnderline:hover:before, .buttonUnderline:focus:before, .buttonUnderline:active:before {
    right: 0;
}
/* RECTANGLES */
.blankBox {
    height: 500px;
    position: relative;
    top: 300%;
    background-color: white;
    overflow: hidden;
}
.curveTop {
    width: 150%;
    height: 24rem;
    margin-top: 0px;
    background: darkorange;
    position: absolute;
    display: block;
    border-radius: 100%;
    top: 55rem;
    left: -25%;
    right: 0;
}
.rectangle1 {
    width: 2000px;
    height: 400px;
    background: orange;
    transform-origin: 50% 150% 0;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 0;
    transform: scale(1) rotate(-10deg);
    animation: grow ease 1s forwards;
}
/* MAIN CONTENT */
.main-content {
    min-height: 150vh;
}
.divisor {
    background-color: rgb(36, 66, 119);
    width: 100%;
    height: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}
.leftArt {
    width: 25%;
    height: 25%;
    float: left;
    padding-left: 18%;
    padding-right: 3%;
    animation-name: fadeIn;
    animation-duration: 2s;
}
/* BLOG */
.blog-post {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}
h3 {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 300%;
    text-align: left;
    cursor: default;
}
p.b1 {
    color: black;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 120%;
    text-align: left;
    cursor: default;
}
p.b2 {
    color: rgb(32, 28, 28);
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 120%;
    text-align: left;
    cursor: default;
}

/* PORTFOLIO */
.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: 50vw 50vw 50vw 50vw 50vw;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.portfolio-item {
    font-family: Hammersmith, Helvetica, sans-serif;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}
.one {
    background-image: url(img/sorcerer.png);
}
.two {
    background-image: url(img/abaca.png);
}
.three {
    background-image: url(img/fina.png);
}
.four {
    background-image: url(img/centaursHorn.png);
}
.five {
    background-image: url(img/foolsGold.png);
}
.six {
    background-image: url(img/pearl.png);
}
.seven {
    background-image: url(img/clem.png);
}
.eight {
    background-image: url(img/crown.png);
}
.nine {
    background-image: url(img/treeCastle.png);
}
.ten {
    background-image: url(img/madoka.png);
}
.eleven {
    background-image: url(img/sickle.jpg);
}
.twelve {
    background-image: url(img/tesseract.jpg);
}
.thirteen {
    background-image: url(img/tombOfSin.jpg);
}
.fourteen {
    background-image: url(img/potion.png);
}
.fifteen {
    background-image: url(img/abacaTitle.png);
}
/* SKILLS */
.progressContainer {
    width: 40%;
    background-color: darkslategray; 
}
.skill {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Hammersmith, Helvetica, sans-serif;
}
.characterIllustration {
    width: 90%;
    background-color: orangered;
}
/* SOCIAL MEDIA BUTTONS */
.social {
    text-align: center;
    text-decoration: none;
}
.social li {
    display: inline;
    list-style-type: none;
    -webkit-use-select: none;
    -moz-user-select: none;
}
.social li a {
    border-bottom: none;
}
.social li img {
    width: 4%;
    height: 4%;
    padding-right: 2%;
}
